@import "./Color.scss";

main {
    padding: 2rem;
    text-align: center;
    h1 {
        margin: 1rem;
        color: $orange;
        letter-spacing: 3px;
    }
}

.app__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer {
    margin: 0 2rem;
    padding: .5rem;
    border-top: 1px dotted $green;
    font-size: .8rem;
    text-align: center;
    letter-spacing: 2px;
}

@mixin boxSetting() {
    margin: 1rem;
    padding: .3rem;
    border-top: $green 1px solid;
    text-align: left;
    h2 {
        letter-spacing: 1px;
    }
}