@import "../App/App.scss";

.inputSearch {
    @include boxSetting();
    input {
        width: 230px;
        margin-left: 1rem;
        padding: .5rem;
        padding-left: 2.5rem;
        border: none;
        border-bottom: 1px solid $gray;
        background: url('./img/search.svg') no-repeat scroll 10px 8px;
        background-size: 18px 18px;
        background-color: transparent;
        font-size: 1rem;
        &:focus {
            border-bottom: 1px solid $orange;
            outline: 0;
        }
    }
    &__result {
        padding: 2rem 1rem;
        ul li {
            margin-top: 1rem;
            line-height: 250%;
        }
    }
}