* {
  box-sizing: border-box;
}

html {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  color:#1A393B;
}

body{
  margin: 0;
}

html,body {
  height: 100%;
}

body:after {/*擬似要素をつくる*/
  position: fixed;/*固定配置*/
  top: 0; left: 0;/*左上に固定*/
  width: 100%; height: 100%;/*画面全体を覆う*/
  z-index: -1;/*背景にするため*/
  content: "";
  background: #f89174;/*保険用*/
    background: -moz-linear-gradient(top, #FFC778 0%,#f89174 100%);/*古いFireFox向け*/
  background: -webkit-linear-gradient(top, #FFC778 0%,#f89174 100%);/*古いSafari・Chrome向け*/
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbcacb', endColorstr='#f79697',GradientType=0 );/*IE9以下への対応*/
  background: linear-gradient(180deg, #e7d9da  0%, #fcfcfa  100%);/*正規のプロパティ*/
}